h1{
background-color: black;
color: red





}
button{
background-color: black
color(srgb red green blue)



}

body {
    background-image: url(../Images/452566_particle_particles_motion_4k0010.mp4);
    background-repeat: no-repeat;
    background-size: cover;
}